@using CreepySuits.Models

@using (Ajax.BeginForm("SearchResult", "Products", FormMethod.Post,
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "search-results"
    }))
{
    <div>
        @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </div>
}


