

@using CreepySuits.Models
@using CreepySuits.Repository
@model CreepySuits.Models.Category
@{
    ViewBag.Title = @Model.CategoryName;
}

<br />
<br />
<div class="row">
    <div class="col-xs-12 col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @if (Model.CategoryName == "Dresses")
            {
                <li class="active">
                    <a href="~/List/Index/1">Dresses</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/List/Index/1">Dresses</a>
                </li>
            }
            @if (Model.CategoryName == "Costumes")
            {
                <li class="active">
                    <a href="~/List/Index/2">Costumes</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/List/Index/2"></a>
                </li>
            }

        </ul>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-xs-12 col-md-3">
                    <div class="thumbnail">
                        <img class="img-responsive" src="~/ProjectDocuments/Images/@(product.PicUrl).jpg">
                        <div class="caption text-center">
                            <p>
                                <b>Name:</b> <span>@product.Name</span>
                            </p>
                            <p>
                                <b>Price:</b> <span>@product.Price USD</span>
                            </p>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


