@model IEnumerable<CreepySuits.Models.Category>
<ul id="categories">
    @foreach (var category in Model)
    {
        <tr>

           <td> @Html.ActionLink(category.CategoryName,
            "Browse", "Products",
            new { Category = category.CategoryName }, null)
           </td>
        </tr>
}
</ul>
