@using CreepySuits.Models

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@*@{
    using (var myContext = new ApplicationDbContext())
    {
        //ist<Product> Products = myContext.Products.Where(m => m.ID <= 4000).OrderByDescending(m => m.ID).ToList();
        //myContext.Database.SqlQuery<Product>("Select * FROM product WHERE 1=1").ToList();


    } }*@
