@using CreepySuits.Repository
@using CreepySuits.Models
@model IEnumerable<CreepySuits.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<p>
    Select from @Model.Count() genres:
</p>

<ul>
    @foreach (var genre in Model)
    {
        <li><a href="/Store/Browse?genre=@genre.CategoryName">@genre.CategoryName</a></li>
    }
</ul>*@



            